body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .login-container {
    background-color: #1c1c1c;
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } /*quadrado do login*/

  .login-container h1 {
    margin-bottom: 29px;
  }/*espaçamento de login referente inputs de formato vertical*/

  .login-container input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
  } /*configuração de butões*/

  .login-container a {
    display: block;
    margin: 4px 0;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
  }/*letras do butões*/

  .login-container a:hover {
    color: #12b61a;
  }/*cor ao passsar no esqueceu senha*/


  .login-container button {
    width: 48%;
    padding: 10px;
    margin: 7
    px 1%;
    border: none;
    border-radius: 20px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } /*cor dos botões acessar e criar conta*/


  .login-container button:hover {
    background-color: #0400ff;
  }/*cor ao passar cursor nos botões*/
  
 

  .password-container {
    position: relative;
    width: 100%; /*posição referente da senha e do botão*/
  }
  
  .password-container input {
    width: 100%;
    padding-right: 10px; /* Espaço(largura) do button*/
  }
  
  .password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    font-size: 18px;
  }
  
  .password-container .toggle-password:hover {
    color: #fff;
  }
  
  


  